/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --page-background: #000028;
    --text-color: #F1B2CE;

    --accent-color: #FF0070;
    --accent-text-color: #000028;

    --decoration-color: #DB00FF;

    --button-border-hover: rgba(50, 49, 45, 0.40);

    --font-weight-normal: 400;
    --font-weight-bold: 700;

}

